<section id="eventos" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="ser-title">Eventos</h2>
                <hr class="botm-line">
            </div>
            <div class="col-md-4">

                <img class="img-responsive img-rounded" src="http://pet.ufal.br/cet/static/sc.jpg" alt="">

            </div>
            <div class="col-md-4">
                <h3>Semana de capacitação 2020. </h3>
                <p>A Semana de capacitação ocorretá pela primeira vez de forma online. </p>
                <a class="btn btn-danger btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLSekEPb1zzVJk0USAjiPqMCbwdE8ds4Ri9n_Nivn51AzjNX63w/viewform">Inscreva-se nos cursos <b>Mendeley + Formatação de artigos acadêmicos</b> ou <b>Lattes + Linkedin</b></a>
                <br>
                <a style="margin-top: 5px;" class="btn btn-danger btn-lg" href="/sc">Inscreva-se nos demais cursos</a>
            </div>


        </div>
    </div>
</section>