<section id="eventos" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="ser-title">Eventos</h2>
                <hr class="botm-line">
            </div>
            <div class="col-md-4">

                <img class="img-responsive img-rounded" src="http://pet.ufal.br/cet/static/sc.jpeg" alt="">

            </div>
            <div class="col-md-4">
                <h3>Semana de capacitação 2021. </h3>
                <p>A semana de capacitação ocorrerá no formato online pela segunda vez e as inscrições para participação iniciam dia 31/05. O evento realiza minicursos gratuitos que abrangem as áreas das ciências exatas e engenharias. </p>
                <br>
                <a style="margin-top: 5px;" class="btn btn-danger btn-lg" href="/sc">Inscreva-se</a>
            </div>


        </div>
    </div>
</section>