{% extends 'base.html' %}
{% block title %}Início | {% endblock %}
{% block body %}

   {% for pagina in paginas_disponiveis %}
    <section id="{{ pagina.url }}" class="section-padding">
		{% include  pagina.nome_template %}
	</section>
	{% endfor %}
	{% if petianos %}
	<section id="petianos" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="ser-title">Petianos</h2>
					<hr class="botm-line">
				</div>
				{% for petiano in petianos %}
				<div class="col-md-3 col-sm-3">
			      <div class="thumbnail">
                      <div class="team-border-img" align=center>
			      	<img src="{{ petiano.foto.url }}" alt="{{ petiano.nome }}" class="team-img">
                          </div>
			        <div class="caption">
			          <h4><a href="#"><i class="fa fa-graduation-cap"></i> </a>{{ petiano.nome }}</h4>
			          <h6>{{ petiano.curso }}</h6>
			          <h6>{{ petiano.periodo }}° período</h6>
			        </div>
			      </div>
			    </div>
			    {% endfor %}
		</div>
	</section>
{% endif %}
	<!--/ doctor team-->
	<!--testimonial-->

	<!--/ testimonial-->
	<!--cta 2-->
	<section id="sobre" class="section-padding">
	{% for sobre in sobres %}
		<div class="container">
			<div class=" row">

				<div class="col-md-1"></div>
	            <div class="text-right-md col-md-4 col-sm-4">
	              <h2 class="section-title white lg-line">« {{ sobre.nome }} »</h2>
	            </div>
	            <div class="col-md-6 col-sm-7" style="color:white;text-align:justify;">
	              {{ sobre.descricao }}
	            </div>
	            <div class="col-md-1"></div>


	        </div>
		</div>
		    <br>
		{% endfor %}
	</section>

{% endblock %}
