{% extends 'base.html' %}
{% block title %}Início | {% endblock %}
{% block body %}

{% load staticfiles %}
{% for pagina in paginas_disponiveis %}
    <section id="{{ pagina.url }}" class="section-padding">
		{% include  pagina.nome_template %}
	</section>
	{% endfor %}
<section id="sobre" class="section-padding">
		<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="ser-title">Sobre nós</h2>
						<hr class="botm-line">
					</div>
					
			</div>
			</div>
			<div id="fh5co-portfolio">
					{% for sobre in sobres %}
					{% if sobre.link %}<a href="{{ sobre.link }}">{% endif %}
					<div class="fh5co-portfolio-item {% if sobre.eh_par %}fh5co-img-right{% endif %}">
							<div class="fh5co-portfolio-figure animate-box" style="background-image: url({{ STATIC_URL }}{{ sobre.foto.url }});"></div>
							<div class="fh5co-portfolio-description">
								<h2>{{ sobre.nome }}</h2>
								{{ sobre.descricao }}
								
							</div>
						</div>
						{% if sobre.link %}</a>{% endif %}
						{% endfor %}
			</div>

</section>

   


	{% if petianos %}
	<section id="petianos" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="ser-title">Petianos</h2>
					<hr class="botm-line">
				</div>
				{% for petiano in petianos %}
				<div class="col-md-3 col-sm-3">
			      <div class="thumbnail">
                      <div class="team-border-img" align=center>
						  <div class="team-img" style="overflow:hidden;text-align:center;">
							<img src="{{ petiano.foto.url }}" alt="{{ petiano.nome }}" style="max-width: 100%;">
						  </div>
			      	
                          </div>
			        <div class="caption">
			          <h4><a href="#"><i class="fa fa-graduation-cap"></i> </a>{{ petiano.nome }}</h4>
			          <h6>{{ petiano.curso }}</h6>
			          <h6>{{ petiano.periodo }}° período</h6>
			        </div>
			      </div>
			    </div>
			    {% endfor %}
		</div>
		</div>
	</section>
{% endif %}
	<!--/ doctor team-->
	<!--testimonial-->

	<!--/ testimonial-->
	<!--cta 2-->


{% endblock %}
