<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="ser-title">Seleção 2017.2</h2>
            <hr class="botm-line">
        </div>
        <div class="col-md-4">

        <img class="img-responsive img-rounded" src="{{ pagina.foto.url }}" alt="">

    </div>
    <!-- /.col-md-8 -->
    <div class="col-md-4"> 
        <h3>Processo Seletivo 2017.2</h3>
        <p>Venha fazer parte do grupo PET Ciência e Tecnologia! Incrições abertas para o processo seletivo 2017.2</p>
        <a class="btn btn-danger btn-lg" href="{% url 'selecao' %}#selecao">Inscreva-se</a>
    </div>
    </div>
</div>